<template>
  <div>
    <Header />
    <div class="container text-center">
      <form action="">
        <div class="cntInput">
          <label for="inputTitle" class="form-label">Editar Título del Post</label>
          <input type="text" class="form-control" id="inputTitle" v-model="form.title"/>
        </div>
        <div class="cntInput">
          <label for="textAreaBody" class="form-label">Editar Contenido del Post</label>
          <textarea class="form-control" id="textAreaBody" rows="10" v-model="form.body"></textarea>
        </div>
      </form>
      <a href="#" class="btn btn-success" v-on:click="editar()"><b>Guardar</b></a>
      <a href="#" class="btn btn-danger" v-on:click="eliminar()"><b>Eliminar</b></a>
      <a href="#" class="btn btn-dark" v-on:click="salir()"><b>Volver</b></a>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";
export default {
  name: "Edit",
  components: {
    Header,
    Footer,
  },
  data: function () {
    return {
      form: {
        userId: "1",
        id: "",
        title: "",
        body: "",
      },
    };
  },
  methods: {
    editar() {
      axios.put("https://jsonplaceholder.typicode.com/posts/" + this.form.id, this.form)
        .then((res) => {
          console.log(res);
          alert("EL POST FUÉ EDITADO CON ÉXITO");
        });
    },
    eliminar() {
      const result = confirm("¿ESTÁ SEGURO QUE DESEA ELIMINAR EL POST?")
      if (result){
      axios.delete("https://jsonplaceholder.typicode.com/posts/" + this.form.id)
        .then((res) => {
          console.log(res);
          alert("EL POST FUÉ ELIMINADO CON ÉXITO")          
        });
      }
    },
    salir() {
      this.$router.push("/");
    },
  },
  mounted: function () {
    this.form.id = this.$route.params.id;
    axios.get("https://jsonplaceholder.typicode.com/posts/" + this.form.id)
      .then((response) => {
        this.form.title = response.data.title;
        this.form.body = response.data.body;
        console.log(this.form);
      });
  },
};
</script>

<style scoped>
</style>
