<template>
  <div>
    <Header />
    <div class="home container">
      <a href="#" class="btn btn-primary btn-create" v-on:click="create()"><b>Crear Nuevo Post</b></a>
      <br/><br/>
      <div class="post row row-cols-1 row-cols-md-2 g-4">
        <div v-for="post in postList" :key="post.id" class="container cntCard text-center">
          <div class="card">
            <div class="card-body post">
              <h5 class="card-text"><b>Post #{{ post.id }}</b></h5>
              <br/>
              <h3 class="card-title"><b>{{ post.title }}</b></h3>
              <br/>
              <p class="card-text">{{ post.body }}</p>
            </div>
            <div class="col">
              <a href="#" class="btn btn-secondary" v-on:click="edit(post.id)"><b>Editar</b></a>
              <a href="#" class="btn btn-danger" v-on:click="eliminar()"><b>Eliminar</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";
export default {
  name: "home",
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      postList: [],
    };
  },
  methods: {
    edit(id) {
      this.$router.push("/edit/" + id);
    },
    eliminar() {
      const result = confirm("¿ESTÁ SEGURO QUE DESEA ELIMINAR EL POST?");
      if(result){
      axios.delete(
          "https://jsonplaceholder.typicode.com/posts/" + this.postList.id
        )
        .then((response) => {
          console.log(response);
          alert("EL POST FUÉ ELIMINADO CON ÉXITO");
        });
      }
    },
    create() {
      this.$router.push("/newPost");
    },
  },
  mounted: function () {
    let url = "https://jsonplaceholder.typicode.com/posts";
    axios
      .get(url)
      .then((response) => {
        this.postList = response.data;
      })
      .catch((e) => {
        alert(e.message);
      });
  },
};
</script>

<style>
label {
  font-size: 30px;
}
h3 {
  color: #494848;
}
.container {
  margin: 8rem;
}
.btn {
  margin: 0 1rem 2rem 1rem;
  width: 150px;
}
.post {
  height: 18rem;
}
.btn-create {
  margin-bottom: 3rem;
  width: 200px;
}
.cntCard{
  margin:5rem;
}
.cntInput {
  margin: 2rem;
}
input {
  height: 4rem;
}
</style>