<template>
  <div>
    <Header />
    <div class="container text-center">
      <form action="">
        <div class="cntInput">
          <label for="inputTitle" class="form-label">Título del Nuevo Post</label>
          <input type="text" class="form-control" id="inputTitle" v-model="form.title"/>
        </div>
        <div class="cntInput">
          <label for="textAreaBody" class="form-label">Contenido del Nuevo Post</label>
          <textarea class="form-control" id="textAreaBody" rows="10" v-model="form.body"></textarea>
        </div>
      </form>
      <a href="#" class="btn btn-success" v-on:click="send()"><b>Enviar Post</b></a>
      <a href="#" class="btn btn-dark" v-on:click="out()"><b>Volver</b></a>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";
export default {
  name: "NewPost",
  components: {
    Header,
    Footer,
  },
  data: function () {
    return {
      form: {
        userId: "1",
        id: "",
        title: "",
        body: "",
      },
    };
  },
  methods: {
    send() {
      axios.post("https://jsonplaceholder.typicode.com/posts", this.form)
        .then((res) => {
          console.log(res);
          alert("SE HA CREADO EL POST CORRECTAMENTE");
        });
    },
    out() {
      this.$router.push("/");
    },
  },
};
</script>


