<template>
    <div>
        <footer>
            <b>Prueba Técnica by María Antonieta Camacho</b>
        </footer>
    </div>
</template>
<style scoped>
footer{
    position:fixed;
    height: 80px;
    bottom:0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
}
</style>