<template>
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#" v-on:click="home()">
        <img src="../assets/logo.png" width="30" height="30" alt="" />
        <b> Prueba Técnica con Vue.JS</b>
      </a>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Header",
  methods: {
    home() {
      this.$router.push("/");
    },
  },
};
</script>
<style scoped>
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
img {
  margin: 15px;
}
</style>